@media only screen and (max-width: 600px) {
  .NavMain {
    padding: 100px 50px;
    overflow: hidden;
    border-radius: 0px;
  }

  button {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 25px;
    margin: 10px 0;
  }
}





